/* style.css */
body{
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: #f4f4f4;
    color: #333;
    font-family: Arial, sans-serif;
    justify-content: center;
    align-items: center;
}

header {
    display: flex;
    width: 100%;
    position: fixed;
}

.top-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #00BAF0;
    background: linear-gradient(to left, #b445f4, #4975ee);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: #FFF;
    height: 50px;
    width: 100%;
    padding: 1em;
}

.menu {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.menu>li {
    margin: 0 1rem;
    overflow: hidden;
}

.menu-button-container {
    display: none;
    height: 100%;
    width: 30px;
    cursor: pointer;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#menu-toggle {
    display: none;
}

.menu-button,
.menu-button::before,
.menu-button::after {
    display: block;
    background-color: #fff;
    position: absolute;
    height: 4px;
    width: 30px;
    transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
    border-radius: 2px;
}

.menu-button::before {
    content: '';
    margin-top: -8px;
}

.menu-button::after {
    content: '';
    margin-top: 8px;
}

#menu-toggle:checked+.menu-button-container .menu-button::before {
    margin-top: 0px;
    transform: rotate(405deg);
}

#menu-toggle:checked+.menu-button-container .menu-button {
    background: rgba(255, 255, 255, 0);
}

#menu-toggle:checked+.menu-button-container .menu-button::after {
    margin-top: 0px;
    transform: rotate(-405deg);
}

@media (max-width: 700px) {
    .menu-button-container {
        display: flex;
    }

    .menu {
        position: absolute;
        top: 0;
        margin-top: 50px;
        left: 0;
        flex-direction: column;
        width: 100%;
        justify-content: center;
        align-items: center;
    }

    #menu-toggle~.menu li {
        height: 0;
        margin: 0;
        padding: 0;
        border: 0;
        transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    }

    #menu-toggle:checked~.menu li {
        border: 1px solid #333;
        height: 2.5em;
        padding: 0.5em;
        transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    }

    .menu>li {
        display: flex;
        justify-content: center;
        margin: 0;
        padding: 0.5em 0;
        width: 100%;
        color: white;
        background-color: #007BFF;
        /* menu color */
    }

    .menu>li:not(:last-child) {
        border-bottom: 1px solid #444;
    }
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
}

.top-nav-space {
    height: 50px;
    width: 100%;
    padding-top: 1em;
    padding-bottom: 1em;
}

.div-basic {
    margin: 1%;
    padding: 1%;
}

.img-teacher {
    width: 100%;
    height: auto;
    border-radius: 10%;
    background-color: #b445f4;
    padding: 1%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.plans-div {
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

footer {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #c1c1c1;
    color: black;
    width: 100%;
}

.footer-div {
    display: flex;
    flex-direction: column;
    width: 25%;
    padding: 1%;
}

.footer-div-c {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 30%;
    padding: 1%;
}

.footer-p-l {
    width: 100%;
    text-align: left;
}

.footer-p-c {
    text-align: center;
    padding: 10%;
}

.footer-p-r {
    width: 100%;
    text-align: right;
}

.container {
    display: flex;
    align-items: center;
    background-color: #fff;
    padding: 1%;
    margin: 1%;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 80%;
}

.container-vert {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    padding: 1%;
    margin: 1%;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 80%;
}

h2 {
    font-size: 2em;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    margin: 10px;
    background-color: #007BFF;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #0056b3;
}