/* TODO
*remeke font sizes (make it dynamic)
*change font famili
*/
body {
    width: 100%;
    color: white;
    margin: 0%;
    padding: 0%;
    font-family: bahnschrift;
    font-size: large;
    text-align: center;
    background-image: url("images/background.jpg");
    background-color: black;
    background-repeat: no-repeat;
}

header,
main {
    max-width: 800px;
    margin: 1%;
    margin-left: auto;
    margin-right: auto;
    padding: 1%;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.25);
}

@media (max-width: 850px) {

    header,
    main {
        margin-left: 2%;
        margin-right: 2%;
    }
}

/* header */

.menu {
    width: 100%;
    margin: 0%;
    padding: 0%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.25);
}

.menu a {
    text-decoration: none;
    color: white;
    font-size: 21px;
    padding: 2%;
    padding-left: 5%;
    padding-right: 5%;
    font-weight: bold;
    text-align: center;
}

.menu a:hover {
    background-color: rgba(0, 0, 0, 0.5);
}

/* main */

main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/* containers */
.side-container,
.container {
    margin: 1%;
    padding: 1%;
    align-items: stretch;
    background-color: rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    border: 3px solid rgba(255, 255, 255, 0.75);
}

.side-container a,
.container a {
    color: white;
}

.side-container {
    max-width: 20%;
}

.container {
    max-width: 100%;
    padding: 3%;
}

/* other */
hr {
    color: white;
}

.text {
    text-align: left;
}

/*
.icon-frame {
    margin: 0%;
    padding: 0%;
    width: 160px;
    position: absolute;
}

.icon {
    width: 100%;
}
*/
 
.icon {
    width: 100%;
    clip-path: circle();
    border: 3px solid rgb(255 255 255 / 0.5);
    border-radius: 50%;
    box-sizing: border-box;
}

.image {
    width: 100%;
}

footer {
    color: white;
}