body {
    width: 100%;
    background-color: #2E236C;
    margin: 0%;
    padding: 0%;
}

header {
    background-color: #17153B;
}

main {
    display: flex;
}

footer {
    background-color: #17153B;
}